

<div class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 align-item-center">
                    <div class="border border">
                        <h3 class="bg-gray p-4">Khôi phục tài khoản</h3>
                        <form  method="POST" onsubmit="return checkEmail()">
                            <fieldset class="p-4">
                                <input type="email" placeholder="Email*" class="border p-3 w-100 my-2" id="email" name="email" value="{{email}}">
                                <p id="error" class="error_msg">{{e}}</p>
                                <input type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold" value="Gửi mail">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
